<main>
    <div class="banner-phone">
        <div class="title-phone">
            <h1>Phone 21</h1>
            <span>Pensado para tudo.</span>
            <span>Para valer.</span>
        </div>
        <div class="prices">
            <a class="see-prices" href="">Ver preços</a>
            <p>A partir de R$ 392,50/mês ou R$ 3.925</p>
            <p>Pré-venda a partir de 16/06</p>
        </div>
        <figure>
            <img src="/images/phone_page/phone21_mobile.png" alt="">
        </figure>
    </div>
    <section class="carousel-phone">
        <h2>Começe pelos destaques.</h2>
        <ul #carouselCard (scroll)="onScrollCarousel()" class="carousel">
            <li #cardPhone class="card gallery-1">
                <p>Feito para ficar ao seu lado. Metal Shield 4 frontal com 5x mais resistência a arranhões.</p>
            </li>
            <li class="card gallery-2">
                <p>Bateria altamente durável. Recarga rápida com o novo USB-C21 e com o SafeCharge.</p>
            </li>
            <li class="card gallery-3">
                <p>Câmera Lumesion de 42MP. Com New Generation de frames para vídeos ainda mais nítidos.</p>
            </li>
            <li class="card gallery-4">
                <p>Armazenamento a partir de 512 GB. Podendo ir até 3 TB.</p>
            </li>
            <li class="card gallery-5">
                <p>LumY 21 e <span>Lume AI</span>. Simples e úteis em sua rotina</p>
            </li>
        </ul>
        <div class="location-carousel">
            <div class="position">
                <div #firstPosition id="one" (click)="changeCard(firstPosition)"
                    [class.focus-position]="validationPosition === 'one'" class="circle-position"></div>
                <div #secondPosition id="two" (click)="changeCard(secondPosition)"
                    [class.focus-position]="validationPosition === 'two'" class="circle-position"></div>
                <div #thirdPosition id="three" (click)="changeCard(thirdPosition)"
                    [class.focus-position]="validationPosition === 'three'" class="circle-position"></div>
                <div #fourthPosition id="four" (click)="changeCard(fourthPosition)"
                    [class.focus-position]="validationPosition === 'four'" class="circle-position"></div>
                <div #fifthPosition id="five" (click)="changeCard(fifthPosition)"
                    [class.focus-position]="validationPosition === 'five'" class="circle-position"></div>
            </div>
            <button (click)="autoCarousel()" class="player">
                <span [class.fa-pause]="carouselClicked" class="fa-solid fa-play"></span>
            </button>
        </div>
    </section>
    <section class="presentation">
        <div class="text">
            <h2>Incrível em todos os aspectos</h2>
            <h3>Perfeito até nos <br> mínimos detalhes</h3>
            <p>O Phone 21 lhe apresenta vários <span>recursos geniais presentes em nosso novo sistema operacional</span>, abrindo um
                mar de possiblidades. É <span>Lume</span>. Graças a resistência Metal Shield 4, Chip J21 de ultíssima
                geração, armazenamento de 512Gb até 3TB, câmera Lumesion 42MP e
                recarga rápida wireless. É a <span>melhor</span> escolha.
            </p>
        </div>
        <figure>
            <img src="/images/phone_page/presentation_phone.jpg" alt="">
        </figure>
    </section>
</main>