<main>
    <div class="banner-phone">
        <div class="title-phone">
            <h1>Phone 21</h1>
            <span>Pensado para tudo.</span>
            <span>Para valer.</span>
        </div>
        <div class="prices">
            <a class="see-prices" href="">Ver preços</a>
            <p>A partir de R$ 392,50/mês ou R$ 3.925</p>
            <p>Pré-venda a partir de 16/06</p>
        </div>
        <figure>
            <img src="/images/phone_page/phone21_mobile.png" alt="">
        </figure>
    </div>
    <section class="carousel-phone">
        <h2>Começe pelos destaques.</h2>
        <ul class="carousel">
            <li class="card gallery-1">
                <p>Feito para ficar ao seu lado. Metal Shield 4 frontal com 5x mais resistência a arranhões.</p>
            </li>
            <li class="card gallery-2">
                <p>Bateria altamente durável. Recarga rápida com o novo USB-C21 e com o SafeCharge.</p>
            </li>
            <li class="card gallery-3">
                <p>Câmera Lumesion de 42MP. Com New Generation de frames para vídeos ainda mais nítidos.</p>
            </li>
            <li class="card gallery-4">
                <p>Armazenamento a partir de 512 GB. Podendo ir até 3 TB.</p>
            </li>
            <li class="card gallery-5">
                <p>LumY 21 e <span>Lume AI</span>. Simples e úteis em sua rotina</p>
            </li>
        </ul>
        <div class="location-carousel">
            <div class="position">
                <div class="circle-position"></div>
                <div class="circle-position"></div>
                <div class="circle-position"></div>
                <div class="circle-position"></div>
                <div class="circle-position"></div>
            </div>
            <div class="player">
                <span class="fa-solid fa-play"></span>
            </div>
        </div>
    </section>
    <section class="presentation">
        <div class="text">
            <h2>Incrível desde sua escolha</h2>
            <h3>Perfeito até nos <br> mínimos detalhes</h3>
            <p>O Phone 21 lhe apresenta vários <span>recursos geniais presentes na nova linha da Lume</span>, abrindo um mar
                de possiblidades. Graças a resistência Metal Shield 4, Chip J21 de ultíssima geração, câmera Lumesion 42MP,
                recarga rápida wireless, armazenamento de 512Gb até 3TB. É Lume. É ideal.
            </p>
        </div>
        <figure>
            <img src="/images/phone_page/presentation_phone.jpg" alt="">
        </figure>
    </section>
</main>