<footer>
  <div class="promotions-warning">
    <p>* Oferta válida para comprar de produtos Lume realizadas entre 28 de Fevereiro a 20 de Abril em uma Lume Store,
      no site oficial.</p>
    <p>As ofertas estão sujeitas a disponiblidade enquanto durarem os estoques, sendo que cada Comprador Elegível pode
      adquirir um Produto Elegível.</p>
    <p>É preciso ter uma assinatura na Lume TV.</p>
    <p>Os recursos estão sujeitos a mudanças. Alguns serviçõs podem não estar disponíveis em todas as regiões ou
      idiomas.</p>
  </div>

  <div class="address">
    <p>Outras formas de comprar: encontre uma loja física da Lume Store ou revendedor em sua região. Ou ligue para
      0800-4772-8922. Rua Fronteira Tomato Jr, 190, 21° andar. São Paulo, SP. CEP: 01209-212</p>
  </div>

  <span>Brasil</span>

  <span>Copyright © 2026 Lume Inc. Todos os "direitos" reservados.</span>
</footer>
