* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    all: unset;
}

ul {
    list-style: none;
}

button {
    all: unset;
}

body {
    width: 100%;
    height: 100%;
}

.remove-scrool {
    overflow: hidden;
}

:root {
    --color-icons: #a5a5a5;
    --color-blue-buttom: #0071e3;
}